.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #3c47a6;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }
  .badge {
    background-color: #240854;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin: 0 1.5rem;
    font-weight: bold;
  }
  .icon{
    margin-right:1.5rem;
  }